alabaster==0.7.16
Babel==2.15.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
docutils==0.21.2
geographiclib==2.0
geojson==3.1.0
geopy==2.4.1
idna==3.6
imagesize==1.4.1
importlib_metadata==8.2.0
Jinja2==3.1.4
lxml==5.2.2
mariadb==1.1.10
MarkupSafe==2.1.5
mypy==1.10.1
mypy-extensions==1.0.0
numpy==1.26.2
packaging==24.0
pandas==2.2.2
pycparser==2.21
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
requests==2.32.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
structlog==21.5.0
tomli==2.0.1
types-protobuf==5.26.0.20240422
types-requests==2.32.0.20240622
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.1.0
zipp==3.19.2
